

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  block-size: 60px;
  z-index: 1000;
  background-color: var(--blue-5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
    block-size: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-text-scondary);
  }

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    list-style: none;

    &--active {
        padding: 10px;
        justify-content: center;
        margin: 0;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: rgba(51, 51, 51, 0.95);
        gap: 10px;
        align-items: center;
        transform: none;
    }
  }

  &__item {}

  &__link {
    //color: white;
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    //color: white;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:focus {
      outline: none;
    }
  }

  @media screen and (max-width: 768px) {
    &__menu {
      display: none;
    }

    &__menu--active {
      display: flex;
    }

    &__toggle {
      display: block;
    }
  }
}
