@use '@css/base/sass-variables';
@use '@css/base/custom-properties';
@use '@css/fonts/inter';
@use '@css/base/typography';
@use '@css/base/body';
@use '@css/base/animations';
@use '@css/components/icon-card';
@use '@css/components/navbar';
@use '@css/components/sections';
@use '@css/components/timeline';

// layouts
@use '@css/layouts/grid-icon-card';

