@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url("@css/fonts/InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: Inter;
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  src: url("@css/fonts/InterVariable-Italic.woff2") format("woff2");
}