/**
 * Variables
 */

/* Sizes */
$size-1: .25rem;
$size-2: .5rem;
$size-3: .75rem;
$size-4: 1rem;
$size-5: 1.5rem;
$size-6: 2rem;
$size-7: 3rem;
$size-8: 4rem;
$size-9: 6rem;
$size-10: 8rem;

/* Gutters */
$gutter-100: $size-1; // $gutter0
$gutter-200: $size-2; // $gutter1
$gutter-300: $size-4; // $gutter2
$gutter-400: $size-6; // $gutter3
$gutter-500: $size-8;
$gutter-600: $size-9;
$gutter-700: $size-10;

/* Font-Size */
$font-size-100: $size-3;
$font-size-200: .875rem;
$font-size-300: $size-4; // $fontSizeTxt
$font-size-400: 1.25rem;
$font-size-500: $size-5;
$font-size-600: 1.75rem;
$font-size-700: $size-6;
$font-size-800: 2.5rem;

/* Font-Weight */
$font-weight-100: 100;
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;

/* Icons Size */
$icon-size-100: $font-size-300;
$icon-size-200: $font-size-400;
$icon-size-300: $font-size-500;
$icon-size-400: $font-size-600;
$icon-size-500: $font-size-700;
$icon-size-600: $font-size-800;
$icon-size-700: $size-7;
$icon-size-800: $size-9;
$icon-size-900: $size-9;

/* Line-Height */
$line-height-txt: 1.4; //$size-5;
$line-height-title: 1; //$size-4;

/* Colors */

// WHITE
$color-white: hsl(0, 0%, 100%);
$color-white-hsl: 0, 0%, 100%;


// BLACK
$color-black: hsl(0, 0%, 7%);
$color-black-hsl: 0, 0%, 7%;

// BLACK DARK
$color-black-dark: hsl(0, 0%, 0%);
$color-black-dark-hsl: 0, 0%, 0%;




// NEUTRAL Beta Test
$color-neutral-100: hsl(208, 30%, 98%);
$color-neutral-200: hsl(216, 28%, 94%);
$color-neutral-300: hsl(220, 24%, 85%);
$color-neutral-400: hsl(208, 22%, 80%);
$color-neutral-500: hsl(209, 20%, 74%);
$color-neutral-600: hsl(215, 18%, 59%);
$color-neutral-700: hsl(214, 14%, 41%);
$color-neutral-800: hsl(215, 20%, 20%);
$color-neutral-900: hsl(215, 25%, 14%);

$color-neutral-100-hsl: 208, 30%, 98%;
$color-neutral-200-hsl: 216, 28%, 94%;
$color-neutral-300-hsl: 220, 24%, 85%;
$color-neutral-400-hsl: 208, 22%, 80%;
$color-neutral-500-hsl: 209, 20%, 74%;
$color-neutral-600-hsl: 215, 18%, 59%;
$color-neutral-700-hsl: 214, 14%, 41%;
$color-neutral-800-hsl: 215, 20%, 20%;
$color-neutral-900-hsl: 215, 25%, 14%;

// NEUTRAL CONTRAST
$color-neutral-100-contrast-hsl: 208, 20%, 94%;
$color-neutral-200-contrast-hsl: 216, 16%, 90%;
$color-neutral-300-contrast-hsl: 220, 17%, 81%;
$color-neutral-400-contrast-hsl: 208, 19%, 76%;
$color-neutral-500-contrast-hsl: 209, 22%, 70%;
$color-neutral-600-contrast-hsl: 215, 19%, 55%;
$color-neutral-700-contrast-hsl: 214, 14%, 47%;
$color-neutral-800-contrast-hsl: 215, 19%, 16%;
$color-neutral-900-contrast-hsl: 215, 24%, 11%;

// NEUTRAL BLACK
$color-neutral-100-dark: hsl(208, 16%, 98%);
$color-neutral-200-dark: hsl(216, 12%, 94%);
$color-neutral-300-dark: hsl(220, 13%, 85%);
$color-neutral-400-dark: hsl(208, 15%, 80%);
$color-neutral-500-dark: hsl(209, 18%, 74%);
$color-neutral-600-dark: hsl(215, 15%, 59%);
$color-neutral-700-dark: hsl(214, 14%, 38%);
$color-neutral-800-dark: hsl(215, 15%, 20%);
$color-neutral-900-dark: hsl(215, 22%, 14%);

$color-neutral-100-dark-hsl: 208, 16%, 98%;
$color-neutral-200-dark-hsl: 216, 12%, 94%;
$color-neutral-300-dark-hsl: 220, 13%, 85%;
$color-neutral-400-dark-hsl: 208, 15%, 80%;
$color-neutral-500-dark-hsl: 209, 18%, 74%;
$color-neutral-600-dark-hsl: 215, 15%, 59%;
$color-neutral-700-dark-hsl: 214, 14%, 38%;
$color-neutral-800-dark-hsl: 215, 15%, 20%;
$color-neutral-900-dark-hsl: 215, 22%, 14%;

// PRIMARY
$color-primary-100: hsl(210, 99%, 89%);
$color-primary-200: hsl(210, 92%, 74%);
$color-primary-300: hsl(210, 74%, 49%);
$color-primary-400: hsl(210, 69%, 39%);
$color-primary-500: hsl(210, 42%, 29%);
$color-primary-600: hsl(210, 74%, 24%);
$color-primary-700: hsl(210, 84%, 19%);
$color-primary-800: hsl(210, 94%, 14%);
$color-primary-900: hsl(210, 100%, 11%);

$color-primary-100-hsl: 210, 99%, 89%;
$color-primary-200-hsl: 210, 92%, 74%;
$color-primary-300-hsl: 210, 74%, 49%;
$color-primary-400-hsl: 210, 69%, 39%;
$color-primary-500-hsl: 210, 29%, 29%;
$color-primary-600-hsl: 210, 74%, 24%;
$color-primary-700-hsl: 210, 84%, 19%;
$color-primary-800-hsl: 210, 94%, 14%;
$color-primary-900-hsl: 210, 100%, 11%;

// PRIMARY CONTRAST
$color-primary-100-contrast-hsl: 210, 100%, 85%;
$color-primary-200-contrast-hsl: 210, 96%, 70%;
$color-primary-300-contrast-hsl: 210, 78%, 45%;
$color-primary-400-contrast-hsl: 210, 73%, 35%;
$color-primary-500-contrast-hsl: 210, 33%, 25%;
$color-primary-600-contrast-hsl: 210, 78%, 20%;
$color-primary-700-contrast-hsl: 210, 88%, 15%;
$color-primary-800-contrast-hsl: 210, 97%, 10%;
$color-primary-900-contrast-hsl: 210, 100%, 7%;

// PRIMARY DARK

//$color-primary-100-dark: hsl(210, 98%, 92%);
//$color-primary-200-dark: hsl(210, 94%, 74%);
//$color-primary-300-dark: hsl(210, 82%, 64%);
//$color-primary-400-dark: hsl(210, 73%, 39%);
//$color-primary-500-dark: hsl(210, 70%, 32%);
//$color-primary-600-dark: hsl(210, 75%, 31%);
//$color-primary-700-dark: hsl(210, 84%, 30%);
//$color-primary-800-dark: hsl(210, 96%, 29%);
//$color-primary-900-dark: hsl(210, 100%, 28%);
//
//$color-primary-100-dark-hsl: 210, 98%, 92%;
//$color-primary-200-dark-hsl: 210, 94%, 74%;
//$color-primary-300-dark-hsl: 210, 82%, 64%;
//$color-primary-400-dark-hsl: 210, 73%, 39%;
//$color-primary-500-dark-hsl: 210, 70%, 32%;
//$color-primary-600-dark-hsl: 210, 75%, 31%;
//$color-primary-700-dark-hsl: 210, 84%, 30%;
//$color-primary-800-dark-hsl: 210, 96%, 29%;
//$color-primary-900-dark-hsl: 210, 100%, 28%;


// SIMU
$color-simu-100: hsl(195, 100%, 92%);
$color-simu-200: hsl(195, 95%, 80%);
$color-simu-300: hsl(195, 90%, 71%);
$color-simu-400: hsl(195, 85%, 65%);
$color-simu-500: hsl(195, 80%, 53%);
$color-simu-600: hsl(195, 85%, 44%);
$color-simu-700: hsl(195, 90%, 35%);
$color-simu-800: hsl(195, 95%, 26%);
$color-simu-900: hsl(195, 100%, 18%);

$color-simu-100-hsl: 195, 100%, 92%;
$color-simu-200-hsl: 195, 95%, 80%;
$color-simu-300-hsl: 195, 90%, 71%;
$color-simu-400-hsl: 195, 85%, 65%;
$color-simu-500-hsl: 195, 80%, 53%;
$color-simu-600-hsl: 195, 85%, 44%;
$color-simu-700-hsl: 195, 90%, 35%;
$color-simu-800-hsl: 195, 95%, 26%;
$color-simu-900-hsl: 195, 100%, 18%;

// SIMU DARK
$color-simu-100-dark: hsl(195, 100%, 92%);
$color-simu-200-dark: hsl(195, 98%, 81%);
$color-simu-300-dark: hsl(195, 92%, 73%);
$color-simu-400-dark: hsl(195, 86%, 68%);
$color-simu-500-dark: hsl(195, 80%, 57%);
$color-simu-600-dark: hsl(195, 86%, 49%);
$color-simu-700-dark: hsl(195, 92%, 41%);
$color-simu-800-dark: hsl(195, 98%, 33%);
$color-simu-900-dark: hsl(195, 100%, 27%);

$color-simu-100-dark-hsl: 195, 100%, 92%;
$color-simu-200-dark-hsl: 195, 98%, 81%;
$color-simu-300-dark-hsl: 195, 92%, 73%;
$color-simu-400-dark-hsl: 195, 86%, 68%;
$color-simu-500-dark-hsl: 195, 80%, 57%;
$color-simu-600-dark-hsl: 195, 86%, 49%;
$color-simu-700-dark-hsl: 195, 92%, 41%;
$color-simu-800-dark-hsl: 195, 98%, 33%;
$color-simu-900-dark-hsl: 195, 100%, 27%;


// SUCCESS
$color-success-100: hsl(148, 98%, 86%);
$color-success-200: hsl(148, 90%, 80%);
$color-success-300: hsl(148, 80%, 70%);
$color-success-400: hsl(148, 70%, 60%);
$color-success-500: hsl(148, 60%, 50%);
$color-success-600: hsl(148, 73%, 40%);
$color-success-700: hsl(148, 83%, 30%);
$color-success-800: hsl(148, 93%, 20%);
$color-success-900: hsl(148, 100%, 10%);

// SUCCESS DARK
$color-success-100-dark: hsl(148, 100%, 84%);
$color-success-200-dark: hsl(148, 93%, 81%);
$color-success-300-dark: hsl(148, 82%, 72%);
$color-success-400-dark: hsl(148, 71%, 63%);
$color-success-500-dark: hsl(148, 60%, 54%);
$color-success-600-dark: hsl(148, 74%, 45%);
$color-success-700-dark: hsl(148, 85%, 36%);
$color-success-800-dark: hsl(148, 96%, 27%);
$color-success-900-dark: hsl(148, 100%, 18%);


// WARNING
$color-warning-100: hsl(30, 100%, 88%);
$color-warning-200: hsl(30, 98%, 83%);
$color-warning-300: hsl(30, 90%, 76%);
$color-warning-400: hsl(30, 80%, 65%);
$color-warning-500: hsl(30, 75%, 52%);
$color-warning-600: hsl(30, 82%, 42%);
$color-warning-700: hsl(30, 85%, 32%);
$color-warning-800: hsl(30, 90%, 22%);
$color-warning-900: hsl(30, 100%, 10%);

// WARNING DARK
$color-warning-100-dark: hsl(30, 100%, 86%);
$color-warning-200-dark: hsl(30, 100%, 84%);
$color-warning-300-dark: hsl(30, 92%, 80%);
$color-warning-400-dark: hsl(30, 81%, 70%);
$color-warning-500-dark: hsl(30, 80%, 58%);
$color-warning-600-dark: hsl(30, 83%, 48%);
$color-warning-700-dark: hsl(30, 86%, 38%);
$color-warning-800-dark: hsl(30, 93%, 28%);
$color-warning-900-dark: hsl(30, 100%, 20%);


// ERROR
$color-error-100: hsl(355, 100%, 94%);
$color-error-200: hsl(355, 93%, 86%);
$color-error-300: hsl(355, 83%, 76%);
$color-error-400: hsl(355, 73%, 66%);
$color-error-500: hsl(355, 63%, 53%);
$color-error-600: hsl(355, 73%, 46%);
$color-error-700: hsl(355, 83%, 36%);
$color-error-800: hsl(355, 93%, 19%);
$color-error-900: hsl(355, 100%, 8%);

// ERROR DARK
$color-error-100-dark: hsl(355, 100%, 94%);
$color-error-200-dark: hsl(355, 96%, 87%);
$color-error-300-dark: hsl(355, 85%, 78%);
$color-error-400-dark: hsl(355, 74%, 69%);
$color-error-500-dark: hsl(355, 63%, 57%);
$color-error-600-dark: hsl(355, 74%, 51%);
$color-error-700-dark: hsl(355, 85%, 42%);
$color-error-800-dark: hsl(355, 96%, 24%);
$color-error-900-dark: hsl(355, 100%, 16%);


// DRAFT
$color-draft-100: hsl(60, 100%, 97%);
$color-draft-200: hsl(58, 97%, 87%);
$color-draft-300: hsl(55, 92%, 76%);
$color-draft-400: hsl(51, 89%, 67%);
$color-draft-500: hsl(47, 81%, 61%);
$color-draft-600: hsl(40, 67%, 51%);
$color-draft-700: hsl(36, 71%, 42%);
$color-draft-800: hsl(32, 75%, 34%);
$color-draft-900: hsl(30, 76%, 26%);

// DRAFT DARK
$color-draft-100-dark: hsl(60, 100%, 97%);
$color-draft-200-dark: hsl(58, 100%, 88%);
$color-draft-300-dark: hsl(55, 94%, 78%);
$color-draft-400-dark: hsl(51, 90%, 70%);
$color-draft-500-dark: hsl(47, 81%, 65%);
$color-draft-600-dark: hsl(40, 68%, 56%);
$color-draft-700-dark: hsl(36, 73%, 48%);
$color-draft-800-dark: hsl(32, 78%, 32%);
$color-draft-900-dark: hsl(30, 80%, 24%);


/* TDU - pour le workflow */
$color-modify: #E3CEF6;
$color-background-constraint-select: #FFF2E8;
$color-background-origin-constraint: #B39EEF;
$color-background-origin-selected: #EDB0F2;
$color-background-edit-changed: #E5C1FF;
$color-background-changed: #DDF1FF;
$color-font-selected: #fff;
$color-font-light: #fff;
$color-background-selected: #B0D9F2;
$color-background-select-changed: #3498db;
$color-background-grey: #999999;
$color-badge-not-active: #999999;
$color-badge-current: #ffb600;
$color-badge-ok: #468847;
$color-read: #AAF2FF;
$color-created: #FFFF1C;
$color-text-vertical-jauge: rgba(255, 255, 255, 0.6);
$color-text-vertical-jauge-active: rgba(255, 255, 255, 0.9);


$max-width-body: 1452px;

$transition: 200ms ease;
$transition-bounce: 250ms cubic-bezier(0.18, 0.89, 0.32, 1.28);

$animation: 500ms;


/* Border Radius */
$border-radius-primary: .875rem;
$border-radius-secondary: .5rem;
$border-radius-tertiary: .375rem;
$border-radius-quaternary: .25rem;
$border-radius: $border-radius-secondary;

$letter-spacing: 0.025em;
$transparent1000: .98;
$boxShadow1000: 0 1px 2px rgba(0, 0, 0, .15);
$boxShadow500: 0 0 2px rgba(0, 0, 0, .15);
$boxShadowPopin: 0 6px 20px rgba(0 ,0 ,0 , .5);
//$boxShadowCard: 0 1px 1px rgba(0, 0, 0, 0.15);
$textShadow: 0 1px 1px rgba(0, 0, 0, .5);
$inputShadowLight: inset 0 1px 1px oklch(0% 0 0/ .14);
$inputShadowDark: inset 0 1px 1px oklch(0% 0 0/ .22);

$headerHeight: 60px;
$heightJauge: 30px;
$width-menu-side: 20rem;

/* Jauge verticale (WF) */
$widthVerticalJauge: 150px;
$heightVerticalJauge: 180px;

/* Input */
$border-input: 1px;
$padding-input-int: 2px;

/* Alpha */
$alpha-border: 0.1;
$alpha-border2: 0.1;
$alpha-jauge: 0.1;
$alpha-link: .8;

$alpha-100: .025;
$alpha-200: .05;
$alpha-300: .075;
$alpha-400: .09;
$alpha-500: .15;
$alpha-600: .25;
$alpha-700: .5;
$alpha-800: .75;
$alpha-900: .9;

/* Hover Effect */
/* CTA */
$ctaHover: $alpha-800;
$ctaActive: $alpha-500;

/* SVG */
$svgStag: 1;
$svgHover: $alpha-800;
$svgActive: $alpha-400;


/* Or number */
$nbOr: 1.618;

/* Blur Effect */
$blur: 6px;

/* Saturation */
$saturation: 150%;

/* Size Checkbox */
$size-checkbox: 1.5rem;

$outline: auto rgb(59, 153, 252) 2px;


/* Media Queries */
$queriesPhone: '(max-inline-size: 980px)';
$queriesDesktop: '(min-width: 980px)';

/* Size Spin */
$size-spin: 4em;